body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, #9da7d2, #4d5ea8);
}

.gestion-administrateur {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 1rem 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.gestion-administrateur img {
    height: 50px;
    margin-right: 15px;
}

.gestion-administrateur h1 {
    flex-grow: 1;
    margin: 0;
    color: #4A90E2;
    font-family: "Sedan SC", serif;
    font-size: 32px;
    text-align: center;
}

.gestion-administrateur .actions {
    display: flex;
    gap: 10px;
}

.gestion-administrateur .actions a img {
    height: 46px;
    width: 44px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.gestion-administrateur .actions a img:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .gestion-administrateur {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .gestion-administrateur img,
    .gestion-administrateur h1 {
        margin: 10px 0;
    }

    .gestion-administrateur .actions {
        margin-top: 10px;
    }
}

.container-modifier {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
}

.recherche-barre {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    width: 50%;
}

.recherche-barre input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    width: 50%;
}

.recherche-barre button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    background-color: #4A90E2;
    color: white;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    transition: background-color 0.3s ease;
}

.recherche-barre button:hover {
    background-color: #357ABD;
}

.banderole-modifier-utilisateurs {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.banderole-modifier-utilisateurs img {
    width: 50px;
    height: 50px;
}

.banderole-modifier-utilisateurs h2 {
    font-size: 28px;
    color: #333;
    font-weight: 700;
    letter-spacing: 1px;
}

/* Styles pour le tableau */
.table-container {
    width: 70%;
    margin: auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-height: 500px;
    /* Ajout d'une hauteur maximale */
    overflow-y: auto;
    /* Permet le défilement vertical */
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    background-color: #171c32;
    color: white;
    padding: 10px;
    position: sticky;

    top: 0;
    z-index: 1;
}

tbody tr {
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center;
}

tbody tr:hover {
    background-color: #f1f1f1;
    transform: translateY(-2px);
}

tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

button {
    background-color: #4A90E2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #357ABD;
}

table th,
table td {
    padding: 1rem;
    /* text-align: left; */
    border-bottom: 1px solid #e0e0e0;
}

table td:last-child {
    text-align: center;
}

table button {
    padding: 0.5rem 1rem;
    background-color: #4d5ea8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

table button:hover {
    background-color: black;
    transform: translateY(-2px);
}

@media (max-width: 600px) {
    .container-modifier {
        padding: 1rem;
        margin: 1rem auto;
    }

    .banderole-modifier-utilisateurs {
        flex-direction: column;
        align-items: center;
    }

    .banderole-modifier-utilisateurs .user-icon {
        margin-bottom: 1rem;
    }

    .banderole-modifier-utilisateurs h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    table th,
    table td {
        padding: 0.5rem;
    }

    table button {
        padding: 0.5rem;
        font-size: 0.875rem;
    }
}