/* @media only screen and (max-width: 1550px) {

    .inscription {
        background-attachment: fixed;

    }
}




@media (max-width: 1400px) {

    .menu-list img {
        width: 40px;
        height: 40px;
    }

    .menu-list li a {
        font-size: 15px;
    }

    .sidebar-left {
        width: 210px;
        height: 100%;


    }

    header {
        height: auto;
    }



    .conversation {
        height: 346px;
    }

    span {
        font-size: 14px;
        padding-left: 16px;
    }

    .content-right-section {
        height: 100vh;
    }

    .content-right-section h2 {
        font-size: 23px;
        margin-top: 12px;
    }


    .chat-container {
        height: 476px;
        width: 100%;
    }




}


@media (max-width: 768px) {
    .sidebar-left {
        width: 200px;
    }



    .chat-container {
        max-width: 90vw;

    }

    .login-form .group .label {
        font-size: 12px;
    }


    .content-right-section {
        height: auto;
    }

    .chat-container {
        height: 476px;
    }
}

@media (max-width: 480px) {
    .sidebar-left {
        width: 150px;
    }



    .chat-container {
        max-width: 100vw;
 
        padding: 10px;
    }

    .message-content {
        max-width: 80%;

    }
}






@media (max-width: 400px) {

    nav {

        flex-direction: column;
    }

    .logo {
        justify-content: space-around;
    }

    .logo h1 {
        text-align: center;
    }

    .logo img {
        justify-content: flex-start;
    }


    .login-wrap {
        width: 310px;
        margin-top: 50px;
        border-radius: 20px;
    }

    .login-html {
        border-radius: 20px;
        padding: 35px 20px 20px 20px;
    }

    .menu-list li a {
        font-size: 23px;
        padding-right: 0;
    }

    .sidebar-left {
        width: 100%;
        height: auto;
        float: none;
    }

    .content-right-section h1 {
        margin: auto;
        padding-left: 0;
    }

    .content-right-section img {
        display: none;
    }

    span {
        text-align: center;
        padding-left: 0;
    }

    .bottom-block,
    .top-block {
        margin-bottom: 0;

    }

    .bottom-block span,
    .top-block span {

        padding-bottom: 12px;
    }

    .bottom-block h2,
    .top-block h2 {

        padding-bottom: 5px;
    }
} */